#header-category {
    width: 1170px;
}

#categoryBox {
    margin-left: 116px;
    padding-top: 199px;
    color: black;
    font-family: 'Supermolot Thin Italic', serif;
    font-size: 72px;
    line-height: 60px;
    text-transform: uppercase;
}

#categoryViewCount {
    display: block;
    margin-top: -10px;
    color: #999;
    font-family: 'Supermolot Light', serif;
    font-size: 14px;
    line-height: 60px;
    text-transform: uppercase;
}

.categoryPagination {
    font-family: 'Supermolot', serif;
    width: 1170px;
    margin-left: 115px;
    height: 76px;
    background-color: white;
    text-align: right;
    color: #333;
    font-size: 14px;
    display: inline-block;
}

.categoryPagination > a {
    font-family: "Supermolot Italic", serif;
    padding-top: 9px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 10px;
    background-color: #e9e9e9;
    margin-left: 8px;
    margin-top: 24px;
    display: inline-block;
}
.categoryPagination > a:last-child{
    margin-right: 30px;
}
.categoryPagination > a:hover {
    background-color: #ed1651;
    color: white;
}

#blockOfItemsInCategory {
    width: 1170px;
    margin-left: 115px;
    background-color: white;
    height: 1950px;
}

#firstPromoBlock {
    float: left;
    background-image: url("img/categoryFirstPromoBlockBg.jpg");
    width: 877px;
    height: 324px;
}

#secondPromoBlock {
    float: right;
    background-image: url("img/secondPromoBlockBg.jpg");
    width: 585px;
    height: 650px;
}

#blockOfItemsInCategoryInside01 {
height: 975px;
}
#blockOfItemsInCategoryInside02 {
    height: 650px;
}