#header-category {
    width: 1170px;
}

#categoryBox {
    margin-left: 116px;
    padding-top: 199px;
    color: black;
    font-family: 'Supermolot Thin Italic', serif;
    font-size: 72px;
    line-height: 60px;
    text-transform: uppercase;
}

#categoryViewCount {
    display: block;
    margin-top: -10px;
    color: #999;
    font-family: 'Supermolot Light', serif;
    font-size: 14px;
    line-height: 60px;
    text-transform: uppercase;
}

.categoryPagination {
    font-family: 'Supermolot', serif;
    width: 1170px;
    margin-left: 115px;
    height: 76px;
    background-color: white;
    text-align: right;
    color: #333;
    font-size: 14px;
    display: inline-block;
}

.categoryPagination > a {
    font-family: "Supermolot Italic", serif;
    padding-top: 9px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 10px;
    background-color: #e9e9e9;
    margin-left: 8px;
    margin-top: 24px;
    display: inline-block;
}
.categoryPagination > a:last-child{
    margin-right: 30px;
}
.categoryPagination > a:hover {
    background-color: #ed1651;
    color: white;
}

#blockOfItemsInCategory {
    width: 1170px;
    margin-left: 115px;
    background-color: white;
    height: 1950px;
}

#firstPromoBlock {
    float: left;
    background-image: url("img/categoryFirstPromoBlockBg.jpg");
    width: 877px;
    height: 324px;
}
#firstPromoBlock > span:first-child {
    display: block;
    margin-left: 44px;
    margin-top: 82px;
    color: black;
    font-family: "Supermolot Italic", serif;
    font-size: 38px;
    line-height: 36px;
    text-transform: uppercase;
}
#firstPromoBlock > span:last-child {
    display: block;
    margin-top: -10px;
    margin-left: 44px;
    color: black;
    font-family: 'Supermolot Light', serif;
    font-size: 14px;
    line-height: 24px;
}
#secondPromoBlock {
    float: right;
    background-image: url("img/secondPromoBlockBg.jpg");
    width: 585px;
    height: 650px;
}

#secondPromoBlock > div {
    margin-left: 51px;
    margin-top: 55px;
}

#secondPromoBlock > div > h1{
    color: black;
    font-family: "Supermolot Bold Italic", serif;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}
#secondPromoBlock > div > h2{
    width: 280px;
    color: #555;
    font-family: 'Supermolot', serif;
    font-size: 14px;
    line-height: 24px;
}
#secondPromoBlock > div > h3{
    color: #ed1651;
    font-family: 'Supermolot Bold Italic', serif;
    font-size: 36px;
}
#secondPromoBlock > div > h3 > span {
    font-size: 30px;
}
#secondPromoBlock > div > h4{
    width: 167px;
    height: 45px;
    border: 3px solid #ed1651;
    color: black;
    font-family: 'Supermolot Italic', serif;
    font-size: 18px;
}
#secondPromoBlock > div > h4 > span {
    display: block;
    text-align: center;
    margin-top: 10px;
}
#blockOfItemsInCategoryInside01 {
height: 975px;
}
#blockOfItemsInCategoryInside02 {
    height: 650px;
}